/*body {
}

.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

#header {
    padding: 8px 0 20px 0;
    z-index: 99;
    position: relative;
}

#logo {
    width: 121px;
    height: 134px;
    display: block;
    cursor: pointer;
    margin: 0 auto -82px;
    text-indent: -9999em;
    background: url(img/logo.jpeg) no-repeat;
    position: relative;
    z-index: 3;
}

#menu {
    text-align: center;
}

    #menu ul {
        padding: 0 80px;
        display: inline-block;
    }

    #menu li {
        float: left;
        padding: 0 24px;
    }

    #menu a {
        font-size: 21px;
        line-height: 28px;
        color: #8c929c;
        font-family: 'BebasNeue';
        display: block;
    }

        #menu a:hover,
        #menu .current a {
            color: #008bc4;
            text-decoration: underline;
 }*/

/* Footer
------------------------------------------------------------------------------*/

/*#footer {
    clear: both;
    background: #2c4167 url(../images/bg_white_arrow.png) no-repeat 50% 0;
    overflow: hidden;
    padding: 91px 0 0 0;
    font-size: 14px;
    color: #fff;
    line-height: 20px;
}

    #footer article {
        float: left;
        width: 25%;
        padding: 0 15px;
    }

    #footer h3 {
        color: #fff;
        font-size: 48px;
        font-family: 'BebasNeue';
        line-height: 52px;
        display: block;
        padding-bottom: 37px;
        font-weight: 300;
    }

    #footer a {
        color: #fff;
    }

    #footer .col-1 li {
        border-bottom: 1px solid #3c5177;
        padding-top: 1px;
        padding-bottom: 16px;
        margin-bottom: 20px;
    }

        #footer .col-1 li a {
            padding-left: 52px;
            display: block;
            position: relative;
        }

            #footer .col-1 li a:after {
                background: url(../images/ico_contacts.png) no-repeat;
                width: 32px;
                height: 32px;
                position: absolute;
                top: 4px;
                left: 0;
                content: "";
            }

    #footer .col-1 .mail {
        padding-bottom: 21px;
        margin-bottom: 25px;
    }

        #footer .col-1 .mail a:after {
            background: url(../images/ico_contacts.png) no-repeat 0 -32px;
            height: 22px;
            top: -1px;
        }

    #footer .col-1 .phone a:after {
        background: url(../images/ico_contacts.png) no-repeat 0 -54px;
        height: 32px;
        top: -6px;
    }

    #footer .last {
        border: none !important;
    }

    #footer .col-2 li {
        border-bottom: 1px solid #3c5177;
        padding-bottom: 9px;
        margin-bottom: 9px;
    }

        #footer .col-2 li a {
            padding-left: 20px;
            background: url(../images/bg_arrow_blue.png) no-repeat 0 50%;
        }

        #footer .col-2 li.last {
            margin-bottom: 0;
        }

    #footer article p {
        padding-bottom: 17px;
    }

    #footer .col-3 li {
        padding: 0 10px 10px 0;
        float: left;
    }

        #footer .col-3 li a {
            background: #8ed3ef;
            display: block;
            width: 119px;
            height: 35px;
            line-height: 35px;
            color: #46788d;
            font-size: 14px;
            border-radius: 4px;
            padding-left: 35px;
            text-align: center;
            position: relative;
            overflow: hidden;
        }

            #footer .col-3 li a:after {
                background: #81c6e2 url(../images/ico_social.png) no-repeat 9px 8px;
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                bottom: 0;
                width: 35px;
            }

    #footer .col-3 .google-plus a:after {
        background-position: -26px 8px;
    }

    #footer .col-3 .twitter a:after {
        background-position: 9px -27px;
    }

    #footer .col-3 .pinterest a:after {
        background-position: -26px -27px;
    }

    #footer input {
        border-radius: 4px;
        background-color: #1e2d49;
        height: 52px;
        padding: 16px 20px;
        width: 100%;
        color: #fff;
        border: none;
        font-size: 14px;
        margin-bottom: 10px;
    }

    #footer button {
        border-radius: 4px;
        background: #fff;
        height: 52px;
        line-height: 52px;
        padding: 0 20px;
        width: 100%;
        color: #7e8798;
        border: none;
        font-size: 16px;
        margin-bottom: 10px;
    }

    #footer input::-webkit-input-placeholder {
        color: #fff;
    }

    #footer input::-moz-placeholder {
        color: #fff;
    }

    #footer .copy {
        display: block;
        text-align: center;
        clear: both;
        color: #899ec4;
        padding: 34px 0 26px 0;
    }*/

/*
.BlogContentStyle {
    color: #4492b1;
}

@media only screen and (min-width:768px) {
    .friend-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 15px;
    }
}

@media only screen and (max-width:480px) {
    .friend-container {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 15px;
        margin: auto;
    }
}*/

.friend-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 15px;
}